:root {
    --white: #fff;
    --blue: #73DAD4;
    --red: #EE4E4E;
    --grey: #999999;
    --black: #000;
}


body {
    font-family: 'Quicksand', sans-serif;
    /* gap: 20px; */
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    background-color: var(--white);
    border-radius: 24px;
    max-width: 1440px;
    padding: 0px 20px;
    margin: auto;
    box-shadow: 0px 4px 30px 8px rgba(76, 83, 107, 0.25);
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.title-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-con {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-button-con button {
    background-color: var(--blue);
    border-radius: 12px;
    padding: 9px 16px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

#profile-btn {
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background-color: var(--red);
    cursor: pointer;
}

.current-date-con {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0px 4px 30px 8px rgba(76, 83, 107, 0.25);
    padding: 20px;
    border-radius: 24px
}

.current-date-con h1 {
    line-height: 0.5px;
    font-weight: 700;
    font-size: 48px;
}

.current-date-con h2 {
    line-height: 1px;
    font-weight: 700;
    font-size: 28px;
    text-transform: capitalize;
}

.currDay {
    font-weight: 700;
    font-size: 48px;
}
.currTime {
    font-weight: 500;
    font-size: 28px;
}
.currmonthYear{
    font-weight: 600;
    font-size: 28px;
}

.main-container {
    width: 1440px;
    margin: auto;
}
.up-next-con {
    padding: 20px;
}

.patient-tile-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 24px;
    box-shadow: 0px 4px 30px 8px rgba(76, 83, 107, 0.25);
    padding: 20px;
}

.patient-tile-navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 12px;
}

.patient-tile-navbar button {
    padding: 9px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--grey);
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
    border-radius: 12px;
    font-weight: 700;
}

.patient-tile {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    border-radius: 24px;
    background-color: var(--blue);
    min-width: 500px;
    padding: 0px 20px;
    gap: 20px;
}

.tile-contact-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.patient-tile img {
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    padding: 2px;
}

/* footer css  */
.footer-con {
    background-color: var(--black);
    width: 100%;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    border-radius: 20px;
    min-height: 300px;
}

.footer-title {
    color: var(--white);
    font-weight: 700;
    font-size: 32px;
}

.footer-row-1 {
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    /* margin: auto; */
}
/* could possiable do grid  */
.footer-row-2 {
    display: flex;
    flex-direction: row;
    /* gap: 150px; */
    width: 1440px;
    justify-content: space-between;
    margin: auto;
}

.footer-row-2 ul li {
    text-decoration: none;
    font-size: 18px;
    list-style: none;
    color: var(white);
}

.footer-row-2 ul a {
    text-decoration: none;
    color: var(white);
    padding: 10px;
}

.footer-column-4 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-email-input {
    display: flex;
    flex-direction: column;
}
.footer-email-input input {
    border-radius: 12px;
    width: 400px;
    height: 32px;
    outline: none;
    border: none;
    padding: 8px;
}
.footer-email-input label {
    color: var(--white);
    margin-left: 10px;
    font-weight: 700;
    text-transform: capitalize;
}
.footer-social-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.footer-twitter-btn {
    background-color: aliceblue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.footer-youtube-btn {
    background-color: aliceblue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.footer-insta-btn {
    background-color: aliceblue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.footer-facebook-btn {
    background-color: aliceblue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}